.container {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid white;
  width: fit-content;
  border-radius: 10px;
  background-color: white;
}

.leftside {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 5px;
  margin-right: 10px;
  border: 1px;
  background-color: hsl(223, 19%, 93%);
  border-radius: 5px;
}

.icon {
  color: hsl(239, 57%, 85%);
  cursor: pointer;
}

.upvote {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}
.dark__blue {
  color: hsl(238, 40%, 52%);
}

.rightside {
  color: hsl(211, 10%, 45%);
}
.rightside__header {
  display: flex;
  justify-content: space-between;
}

.rightside__header .left {
  display: flex;
  align-items: center;
}

.rightside__header .right {
  display: flex;
  align-items: center;
}

.username {
  padding: 0 10px 0 10px;
  font-weight: 700;
}

.reply__button {
  font-weight: 700;
  cursor: pointer;
}

.rightside__body {
  margin-top: 10px;
  text-align: left;
}
